<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>You are my sunshine. My only sunshine</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <link rel="stylesheet" href="static/css/master.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128194402-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-128194402-2');
</script>

  </head>

<body class="about-bg">
    <nav class="navbar navbar-expand-lg navbar-dark" id="nav_bar_bg">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav mr-auto ">
          <a class="nav-link text-white" href="{{ url_for('weather.current') }}">CURRENT</a>
          <!-- <a class="nav-link text-white" href="{{ url_for('weather.forecast') }}">Forecast</a>
          <a class="nav-link text-white" href="{{ url_for('weather.buoys') }}">Surf</a> -->
          <a class="nav-link text-white" href="{{ url_for('core.about') }}">About</a>
      </div>
      </div>
    </nav>
<div class="container-fluid">

    <div class="jumbotron jumbotron-fluid p-5" id="white_alpha">
      <div class="plain_text">

      <h4>The Data</h4>
      <p>
        Current conditions are provided by the National Weather Service(NWS).
        All conditions are reported real-time on request through the NWS API.
      </p>
      <h4>The Site</h4>
      <p>
        This site is built with Flask, incorporating Bootstrap elements
        for styling and jQuery for interactivity.  The site is hosted on AWS
        Lightsail with Linux/gunicorn/nginx.
      </p>
      <h4>Phase 1</h4>
        <p>Provide current conditions for approximately 2,500 weather stations
          monitored by the National Weather Service (NWS). [Completed]</p>
        <p>Improve the mobile experience. [To Do]</p>
      <h4>Phase 2</h4>
      <p>Add a five day forecast for 200 U.S. cities, also sourced through the
        NWS API.</p>
      <br>
      <h5>Contacts</h5>
      <ul class="list-unstyled">
        <li><a href="mailto:sarahdonehower@gmail.com" class="text-white">sarahdonehower@gmail.com</a></li>
        <li><a href="https://www.sdonehower.com" class="text-white">www.sdonehower.com</a></li>
        <li><a href="https://linkedin.com/in/sarahdonehower" class="text-white">www.linkedin.com/in/sarahdonehower</a></li>
        <li><a href="https://github.com/donehower" class="text-white">github.com/donehower</a></li>
      </ul>
      </div>
    </div>
    </div>



</body>
</html>
