{% extends "base.html" %}
{% block content %}
<style type="text/css">
div.tooltip {
  position: absolute;
  text-align: center;
  padding: 2px;
  color: rgb(9, 0, 135);
  background: rgb(255, 255, 255, 0.5);
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
</style>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script charset="utf-8" type="text/javascript">
// display state map with weather station locations
$( document ).ready(function() {
      $('#conditions_report').css('display', 'none');
      $('body').addClass("new_page");
  });

// DRAW STATE MAP WITH WEATHER STATION LOCATIONS
function drawState(userState) {

    var w = 1024,
        h = 768,
        chartDiv = document.getElementById("chart");

    function redraw() {
      // Extract the width and height that was computed by CSS.
      var width = chartDiv.clientWidth;
      var height = chartDiv.clientHeight;

      // Use the extracted size to set the size of an SVG element.
      svg
        .attr("width", width)
        .attr("height", height);
    };

    //Define map projection and path generator
    var projection = d3.geoAlbersUsa();
    var path = d3.geoPath()
             .projection(projection);

    d3.selectAll("svg").remove();
    //Create SVG element
    var svg = d3.select("#chart")
          .append("svg")
          .attr("viewBox", "0 0 1024 768")
          .attr("preserveAspectRatio", "xMidYMid")
          .attr("height", "768px")
          .attr("width", "1024px");

    // Append Div for tooltip to SVG
    var station_label = d3.select("#state_image")
            .append("div")
            .attr("class", "tooltip")
            .style("opacity", 0);

    //Load in GeoJSON data
    d3.json("static/us-states.json", function(json) {

        var state = json.features.filter(function(d) { return d.properties.name === userState; });

        projection.scale(1)
          .translate([0, 0]);

        var b = path.bounds(state[0]),
            s = 0.9 / Math.max((b[1][0] - b[0][0]) / w, (b[1][1] - b[0][1]) / h),
            t = [(w - s * (b[1][0] + b[0][0])) / 2, (h - s * (b[1][1] + b[0][1])) / 2];

        //Update projection with new offset
        projection
          .translate(t)
          .scale(s);

        //Bind data and create one path per GeoJSON feature
        svg.selectAll("path")
           .data(state)
           .enter()
           .append("path")
           .attr("d", path)
           .style("fill", "rgb(255, 255, 255, 1.0)")

           .on("click", function() {
             div.style("opacity", 0)
           });

        d3.json("static/locations_details_v2.txt", function(txt) {

            var stations = txt.filter( function(txt) { return txt.state_full == userState})

            var station_details = [];
            stations.forEach( function(each) {
              station_details.push({"name": each.name, "coord": each.coord})
            });

            svg.selectAll("circle")
                .data(station_details)
                .enter()
                .append("circle")
                .attr("cx", function(d) {
                       return projection(d.coord)[0];
                     })
                .attr("cy", function(d) {
                       return projection(d.coord)[1];
                     })
                .attr("r", 3)
                .style("fill", "rgb(3, 5, 112, 1.0)")
                .style("stroke-width", "10")
                .style("stroke", "rgb(204, 209, 255, 0.5)")

                .on("click", function(d) {
                  station_label.transition()
                        .duration(200)
                        .style("opacity", .9);
                  station_label.text(d.name)
                        .style("left", (d3.event.pageX) + "px")
                        .style("top", (d3.event.pageY-28) + "px");

                }); // end of label event listner
            }); // end of loading station location data for mapping

      }); // end of loading state outline data
      redraw();
      window.addEventListener("resize", redraw);
  } // end of userState() function to draw the map



// POPULATE DROPDOWN MENUS
// Start of function for the dropdown menus
  $(function() {

      // jQuery selection for the 2 select boxes
      var dropdown = {
        state: $('#select_state'),
        station: $('#select_station')
      };
      // call to update on load
      updateStations();

      function getState() {
        var send = {
          state: dropdown.state.val()
        };
        return send.state
      }

      function updateStations() {
        var send = {
          state: dropdown.state.val()
        };
        dropdown.station.attr('disabled', 'disabled');
        dropdown.station.empty();
        $.getJSON("{{ url_for('weather._map_get_stations') }}", send, function(data) {
          dropdown.station.prepend("<option value='' selected='selected'></option>");
          data.forEach(function(item) {
            dropdown.station.append(
              $('<option>', {
                value: item[0],
                text: item[1]
              })
            );
          });
          dropdown.station.removeAttr('disabled');
        });
        drawState(send.state);
      }

      // event listener to state dropdown change
      dropdown.state.on('change', function() {
        var new_state = getState();
        drawState(new_state);
        updateStations();
      });

      // event listener for station to retrieve conditions
      dropdown.station.on('change', function() {
        var send = {
          station: dropdown.station.val()
        };
          $('#chart').css('display', 'none');
          $('div.tooltip').css('display', 'none')
          $.get("{{ url_for('weather._get_conditions') }}", send, function(data) {
            console.log(data)
            if (data == 0) {
              $('#no_response').html("\
                <br>Sorry.\
                <br>There's no data for that station right now.\
                <br>Please choose another station.\
                ");
              $('#conditions_report').css('display', 'none');
            } else {
            $('#descrip').text(data.descrip)
            $('#station').text("Station:  " + send.station)
            $('#temp').text("Temperature:  " + data.temp + '\u2109')
            $('#relH').text("Relative Humidity:  " + data.relH + '\u0025')
            if (data.feels_like == null) {
              $('#feels_like').text("Feels Like:  " + data.temp + '\u2109')
            }
            if (data.feels_like != null) {
              $('#feels_like').text("Feels Like:  " + data.feels_like + '\u2109')
            }

            if (data.windD_deg != ' ') {
              $('#windD_deg').text(data.windD_deg + '\u00B0' + " " + data.windD_card)
              var rot = data.windD_deg - 45
              rot = 'rotate('+rot+'deg)'
              $('#compass').css( {'transform': rot, 'display':'inline'} )
            }
            if (data.windD_deg == ' ') {
              $('#compass').css('display', 'none')
            }

            var descrip = data.descrip.toLowerCase()
            if (data.descrip != " ") {
                $('body').removeClass('new_page').addClass('report_bg');
                if (descrip.includes("clear")) {
                  $('body').css( {'background-image':'url(../static/images/clear.jpg/)'} );
                } else if (descrip.includes("partly cloudy")) {
                  $('body').css( {'background-image':'url(../static/images/partly_cloudy.jpg/)'} );
                }
                else if (descrip.includes("cloudy")) {
                  $('body').css( {'background-image':'url(../static/images/cloudy.jpg/)'} );
                }
                else if (descrip.includes("rain")) {
                  $('body').css( {'background-image':'url(../static/images/rain.jpg/)'} );
                }
                else if (descrip.includes("snow")) {
                  $('body').css( {'background-image':'url(../static/images/snow.jpg/)'} );
                }
                else if (descrip.includes("fog")) {
                  $('body').css( {'background-image':'url(../static/images/fog.jpg/)'} );
                }else {
                  $('body').css( {'background-color':'background-color: rgb(3, 5, 112)'} );
                }
            }
            if (data.script == " ") {
                $('body').css( {'background-image':'url(../static/images/wood.jpg/)', 'background-size':'cover'});
            }
          }
        }); // end of function to display api response data
        $('#conditions_report').css('display', 'inline');


      }); // end of event listener to retrieve conditions
}); // end of all form functions
</script>

<div class="row no-gutters" id="state_image">
  <div class="col-sm-3 text-white px-3 form-group">
    <br>
    <p id="menu_directions">Choose a state then a weather station.
      Click on a map point to find weather station names.</p>
      <form method="POST" enctype="multipart/form-data" >
        {{form.hidden_tag() }}
        <div class="form-group">
          {{ form.state_full.label(class='form-group') }}
          {{ form.state_full(id='select_state', class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.station.label(class='form-group') }}
          {{ form.station(id='select_station', class="form-control") }}
        </div>
        <br>
        <button type="button" class="btn text-white bg-transparent border-white" onClick="window.location.reload()">New Location</button>
        <br>
    </form>

  </div>

  <div class="col-sm-9 text-white" >
    <br>
      <h2 id="no_response" align="center"></h2>
      <div id="chart" ></div>
          <div class="row no-gutters" id="conditions_report">
                  <h1 id='report_header'>Current Conditions</h1>
                  <p id='station'></p>
                  <br>
                  <h2 id='descrip'></h2>
                  <br>
                  <h3 id='temp'></h3>
                  <h3 id='feels_like'></h3>
                  <br>
                  <h3 id='relH'></h3> <br>

                  <br>
                  <br>
                  <h5 id='windD_deg'></h5>
                  <img id='compass' src="../static/images/compass_arrow_copy.png" width=250 height=250>
          </div>
  </div>

</div>
{% endblock %}
