body {
  font-family: 'Montserrat', sans-serif;
}

.plain_text {
  font-size: calc(18px - 0.25vw);
}

.new_page {
  background-image: url("../images/sunset.jpg");
  background-size: 100% 110%;
  background-repeat: no-repeat;
}

.report-bg {
  background-size: 100% 110%;
  background-repeat: no-repeat;
}

#white_alpha {
  background-color: rgba(249, 249, 249, 0.3);
}

#white_solid {
  background-color: rgba(255, 255, 255, 1.0);
}

#nav_bar_bg {
  background-color: rgba(100, 149, 237, 1.0);
}

#menu_directions {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  text-align: center;
}

#loader {
    border: 16px solid rgba(219, 52, 129, 0.7);
    border-top: 16px solid rgba(233, 239, 40, 0.7);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    left: 50%;
    top: 50%;
    position: relative;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.about-bg {
  background-image: url("../images/sunset.jpg");
  background-size: cover;
  color: white;
  font-size: 18px;
}

#white_alpha {
  background-color: rgba(249, 249, 249, 0.1);
}
