body {
  font-family: 'Montserrat', sans-serif;
}

.plain_text {
  font-size: calc(18px - 0.25vw);
}

.new_page {
  background: url("../images/sunset.jpg") no-repeat center center fixed;
  /* background-size: 100% 110%; */
  /* background-repeat: no-repeat; */
  background-size: cover;
}

.report-bg {
  background-size: cover;
  background-repeat: auto 100%;
}

#white_alpha {
  background-color: rgba(249, 249, 249, 0.3);
}

#white_solid {
  background-color: rgba(255, 255, 255, 1.0);
}

#nav_bar_bg {
  background-color: rgba(100, 149, 237, 1.0);
}

#menu_directions {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  text-align: center;
}

#loader {
    border: 16px solid rgba(219, 52, 129, 0.7);
    border-top: 16px solid rgba(233, 239, 40, 0.7);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    left: 50%;
    top: 50%;
    position: relative;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.about-bg {
  background-image: url("../images/sunset.jpg");
  background-size: cover;
  color: white;
  font-size: 18px;
}

#white_alpha {
  background-color: rgba(249, 249, 249, 0.1);
}

#current_time {
  color: rgba(100, 100, 100, 1);
}

/* ----------------------------------------------------------- */
/* D3 styling */
.chart_title {
  font-size: 14px;
  fill: rgba(75, 75, 75, 1.0);
}

.line_temp {
  fill: none;
  stroke: rgba(100, 149, 237, 1.0);
  stroke-width: 1.5;
}

.line_humid, .line_pp {
  stroke: rgba(250,128,114, 1.0);
  stroke-width: 1.0;
  fill: none;
}

.axis_left text, .axis_left_label, .t, .cc{
  fill: rgba(100, 149, 237, 1.0);
}

.axis_right text, .axis_right_label, .pp{
  fill: rgba(250,128,114, 1.0);
}

.axis_left path, .line {
  stroke: rgba(100, 100, 100, 1.0);
}

.axis_left_label, .axis_right_label {
  font-size: calc(20px - 0.25vw);
  font-family: Arial;
}

.axis_right path, line {
  stroke: rgba(100, 100, 100, 1.0);
}

.axis_left text, .axis_right text {
  font-size: 16px;
}

.axis_day path{
  stroke: rgba(0, 0, 0, 0);
}

.axis_hour text {
  font-size: 14px;
}

.axis_day text {
  font-size: 16px;
}

.axis_hour path, line {
  stroke: rgba(100, 100, 100, 1.0);
}

.d, .t, .h, .cc, .pp {
  font-size: 12px;
}

.d {
  fill: rgba(100, 100, 100, 1.0);
}

.h {
  fill: rgba(250,128,114, 1.0);
}

.area_cloud {
  fill: rgba(100, 149, 237, 0.5);
  opacity: 0.5;
}

.v_line {
  stroke-width: 2;
  stroke: rgba(100, 100, 100, 0.2);
}

.v_line_2 {
  stroke-width: 2;
  stroke: rgba(100, 100, 100, 0.2);
}

.wedge_label {
  font-size: 14px;
  fill: rgba(75, 75, 75, 1);
}

.compass_label {
  font-size: 18px;
  fill: rgba(0, 0, 0, 1);
}

.arc {
  fill: rgba(255, 0, 0, 0.5);
}
